<h4>{{team?.name}}</h4>
<div *ngFor="let player of team?.players">
    {{player.name}}: {{player.hand_len}} cards (foot: {{player.has_foot}})
</div>
<ul>
    <li *ngFor="let book of team?.books">
        <app-book (appendEvent)="appendEvent(book.book, $event)"
                  [book]="book"
                  [showAppend]="showControls">
        </app-book>
    </li>
</ul>
