<!Doctype html>
<head>
    <body>
        <h1>Create a new game</h1>
        <p>Enter a name for your game lobby: (Optional)</p>
        <form action="{% url 'hf:createGame' %}" method="post">
            {% csrf_token %}
            <input id='new-game-name' type='text' name='new-game-name'/><br/>
            <input id='new-game-create' type='submit' value='Create Game'/><br/>
        </form>
    </body>
<head>
