<!Doctype html>
<html>
    <body>
        <h1>Game Details</h1>
        <h4>Copy this link to invite players to your game: {% url 'hf:joinGame'  game.id %}</h4>
        <p>Game status: {{ game.get_status_display }}</p>
        <h2>Player List:</h2>
        {% for team in game.teams.all %}
            <h3>{{ team.name }}</h3>
            <form action="{% url 'hf:joinTeam' game.id team.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Join">
            </form>
            <ul>
            {% for player in team.players.all %}
                <li>{{ player.session.get_decoded.name }}
            {% endfor %}
            </ul>
        {% endfor %}
        <form action="{% url 'hf:addTeam' game.id %}" method="post">
            {% csrf_token %}
            <input name="teamname" type="text" id="teamname"><br/>
            <input type="submit" value="Create New Team">
        </form>
        <h3>Players not on a team</h3>
        <ul>
        {% for player in game.players.all %}
            {% if not player.team %}
                <li>{{ player.session.get_decoded.name }}
            {% endif %}
        {% endfor %}
        </ul>
    </body>
</html>
