<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Hand & Foot | Game Id: {{game.id}}</title>
        {% load static %}
        <script src="{% static 'game.js' %}" defer></script>
    </head>
    <body>
        <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
        <input id="chat-message-input" type="text" size="100"/><br/>
        <input id="chat-message-submit" type="button" value="Send"/>
        <div id="game-area">
            <h1>Game Details</h1>
            <h4>Copy this link to invite players to your game: {% url 'hf:joinGame'  game.id %}</h4>
            <input id="game-start" type="button" value="Start Game"/>
            <p>Game status: {{ game.get_status_display }}</p>
            <input id="game-team-input" type="text"/><br/>
            <input id="game-team-submit" type="button" value="Create New Team"/>
            <div id="game-player-list">
                Loading Game Data...
            </div>
        </div>
    </body>
</html>
