<a href="{% url 'hf:gameCreate' %}">Create a new game</a>
{% if game_list %}
    <ul>
    {% for game in game_list %}
    <li><a href="{% url 'hf:gameDetailWS' game.id %}">{{ game.name }} ({{game.id}})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No games are available.</p>
{% endif %}
