<!Doctype html>
<html>
    <head>
        <title>Join Game: {{ game.id }}</title>
    </head>
    <body>
        {% if error_msg %}
            <p><strong>{{ error_msg }}</strong></p>
        {% endif %}
        <form action="{% url 'hf:addPlayer' game.id %}" method="post">
            {% csrf_token %}
            <label for="username">Create a username</label><br/>
            <input name="username" type="text" id="username">
            <input type="submit" value="Create">
        </form>
    </body>
</html>
