<!Doctype html>
<html>
    <body>
        <h1>Enter your name</h1>
        <form action="{% url 'hf:setName' room_name %}" method="post">
            {% csrf_token %}
            <input id='new-session-name' type='text' name='new-session-name'/><br/>
            <input id='new-session-create' type='submit' value='Submit'/><br/>
        </form>
    </body>
</html>
