<app-hand [showControls]="isTurn"
          [cards]="hand"
          (discard)="discard.emit($event)">
</app-hand>
<h3>Your Team:</h3>
<div *ngIf="isTurn">
    <input [(ngModel)]="createBooksInput" (keyup.enter)="createBooksHandler()">
    <button (click)="createBooksHandler()">Create Book</button>
</div>
<app-team (appendBookEvent)="appendBook.emit($event)"
          [team]="playerTeam"
          [showControls]="isTurn"></app-team>
<h3>Other Teams:</h3>
    <app-team *ngFor="let team of otherTeams"
              [team]="team"></app-team>
