<h3>Hand:</h3>
<ul>
    <li *ngFor="let card of cards">
        {{card}}
        <button *ngIf="showControls"
                (click)="discard.emit(card)">
            Discard
        </button>
    </li>
</ul>
