<input [(ngModel)]="createTeamInput" (keyup.enter)="clickCreateTeam()">
<button (click)="clickCreateTeam()">Create Team</button>

<br>
<button (click)="clickStartGame()">Start Game</button>
<br>

<h2>Available Players:</h2>
<ul>
    <li *ngFor="let player of message?.free_players">{{player}}</li>
</ul>
<div *ngFor="let team of message?.teams">
    <h2>
        <button (click)="clickJoinTeam(team.id)">Join</button>
        {{team.name}}
    </h2>
    <ul><li *ngFor="let player of team.players">{{player}}</li></ul>
</div>
