<input [(ngModel)]="newGameDisplayName">
<button (click)="createNewGame()">Create New Game</button>
<h1>Games:</h1>
<ul *ngIf="games">
  <li *ngFor="let game of games">
    <a routerLink="join/{{game.name}}">{{game.display_name}}</a>
  </li>
</ul>
