<h2>Round over!</h2>
<h3>Team standings:</h3>
<ul>
    <li *ngFor="let team of sortedTeams">
        {{team.name}}: {{team.current_score}} ({{team.round_score}} this round)
    </li>
</ul>
<button type="button" (click)="newRound.emit()">Start Next Round</button>
