<div *ngIf="book">
    <span>{{book.rank}}: {{book.book}} (Clean: {{book.isClean}}, Complete: {{book.isComplete}})</span>
    <span *ngIf="showAppend">
        <input [(ngModel)]="appendBookInput" (keyup.enter)="appendBook()">
        <button (click)="appendBook()">Append</button>
    </span>
</div>