<h1>Game: {{game?.display_name}}</h1>
<textarea readonly>{{chatLog}}</textarea><br>

<input [(ngModel)]="chatInput" (keyup.enter)="sendChat()">
<button (click)="sendChat()">Send</button><br>


<app-pregame *ngIf="latestPregameMessage && !latestGameMessage"
             [message]="latestPregameMessage"
             (createTeam)="gameSocket?.createTeam($event)"
             (joinTeam)="gameSocket?.joinTeam($event)"
             (startGame)="gameSocket?.startGame()">
</app-pregame>
<app-endgame *ngIf="endGameMessage"
             [message]="endGameMessage"
             (newRound)="startNewRound()">
</app-endgame>
<app-play-area *ngIf="latestGameMessage"
               [message]="latestGameMessage"
               (discard)="gameSocket?.discard($event)"
               (createBooks)="gameSocket?.createBooks($event)"
               (appendBook)="gameSocket?.appendBook($event.book, $event.cards)">
</app-play-area>
